<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% else 
    if !current_subdomain.nil?%>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end
end %>
<% if !current_subdomain.nil?%>
  <li>
      User: 
      <% if current_user %>
        <%= current_user.name %>
      <% else %>
        (not logged in)
      <% end %>
  </li>
<% end %>
